# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
numpy=1.17.4=py38h890c691_0
numpy-base=1.17.4=py38h6575580_0
openssl=1.1.1d=h1de35cc_3
pip=19.3.1=py38_0
python=3.8.0=h359304d_2
pysocks=1.7.0=pypi_0
pyspark=2.4.4=pypi_0
